<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/shoppingcart.css">
    <!-- <link rel="stylesheet" href="/styles/index.css"> -->
</head>
<body>

    <header>
        <h1>Pokemon searching mechanism</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt="">
    </header>

    <nav>
        <div id="left_side">
            <a href="/"> Home </a>
            <a href="/search"> Search </a>
        </div>

        <div id="right_side">
            <a href="/register" style="float: right;"> Sign up </a>
            <a href="/login" style="float: right;"> Login </a>
            <a href="/shoppingcart">
                <img src="/images/shopping-cart.png" alt="">
            </a>
        </div>
    </nav>
    
    <!-- Display items in the shopping cart -->
    <div class="card">
        <h1 class="card-title" style="text-align: center; font-weight: bold;">Cart items:</h1>
        <!-- <ul class="list-group list-group-flush">
            <% for (var i = 0; i < cart.length; i++) { %>
                <li class="list-group-item"><%= cart[i].pokeID %></li>
            <% } %>
        </ul> -->
        <% for (var i = 0; i < cart.length; i++) { %>
            <div class="card-inside"> 
                <div id="left_side">
                    <div class="id"><h5 class="card-title">ID: <%= cart[i].pokeID %></h5></div>
                    <div class="price"><h5 class="card-title-price">Price per pokemon: <%= cart[i].price %></h5></div>
                    <div class="quantity"><h5 class="card-title">Quantity: <%= cart[i].quantity %></h5></div>
                </div>
                <div id="right_side">
                    <div class="total"><h5 class="card-title-price"><b>Total for pokemon</b> $<%= cart[i].price * cart[i].quantity %></h5></div>
                </div>
        <% } %>
    </div>
    </div>
    <div id="right_side1">
        <h5 class="card-title"><b>Subtotal: $<%= subtotal %></b></h5>
        <h5 class="card-title"><b>After taxes: $<%= total %></b></h5>
    </div>


    <!-- Checkout form button -->
    <div id="buttons">
    <form action="/checkout" method="POST">
        <% for (var i = 0; i < cart.length; i++) { %>
        <input type="hidden" name="id" value="<%= cart[i].pokeID %>" />
        <input type="hidden" name="quantity" value="<%= cart[i].quantity %>"/>
        <input type="hidden" name="price" value="<%= cart[i].price %>"/> 
        <input type="hidden" name="totalPerItem" value="<%= cart[i].price * cart[i].quantity %>"/>
        <% } %>
        <input type="hidden" name="total" value="<%= total %>"/>
        <button type="submit" class="btn-lg btn-warning">Checkout</button>
    </form>


    <form action="/clear" method="get">
        <button type="submit" class="btn-lg btn-danger">Clear cart</button>
    </form>
</div>



</body>
</html>l